/*------------------------------------------------------------------
Theme Name: Listing & Directory Website Template
Version: 1.0
Author: Surjith S M
-------------------------------------------------------------------*/
/* ==============================================================
   GLOBAL STYLES
   ============================================================== */
body {
 font-family: Arima;

  }
  .row{
    margin-left: 0;
    margin-right: 0;
  }

h1 {
  font-size: 72px;
  color: #fff;
  font-weight: 300; }
  @media (max-width: 1200px) {
    h1 {
      font-size: 52px; } }
  @media (max-width: 992px) {
    h1 {
      font-size: 40px; } }

h2 {
  font-size: 47px; }
  @media (max-width: 768px) {
    h2 {
      font-size: 34px; } }

h3 {
  font-size: 35px; }
  @media (max-width: 992px) {
    h3 {
      font-size: 30px; } }

h4 {
  font-size: 30px; }

h5 {
  font-size: 28px; }
  @media (max-width: 768px) {
    h5 {
      font-size: 22px; } }

h6 {
  font-size: 21px;
  font-weight: 400; }

/*p {
  font-size: 15px; }*/

/*.main-block {
 padding: 25px 0;
  }*/
/*  @media (max-width: 768px) {
    .main-block {
      padding: 45px 0; } }
*/
.light-bg {
  background: #f3f4f7; }

.dark-bg {
 background-image: url("../images/footer.jpg");
/* height: 500px;*/

  }
  .effect-ruby h3.a1{
  position: absolute;
/*z-index: 999;*/
bottom: 25%;
background: #0a0a0a78;
left: 113px;
color: #fff;
padding: 10px;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
font-size: 20px;
float: right;
height: 60px;
width: 100%;
height: 50px;


  }
   .effect-ruby h3.a2{
  position: absolute;
/*z-index: 999;*/
bottom: 143px;
background: #0a0a0a70;
/*width: 100%;
*/
right: 0px;
color: #fff;
padding: 10px;
font-size: 20px;
width: 100%;
height: 50px;

  }
   .effect-ruby h3.a3{
    position: absolute;
/*z-index: 999;*/
bottom: -10px;
background: #0a0a0a70;
/*width: 100%;
*/
right: 0px;
color: #fff;
padding: 10px;
font-size: 20px;
width: 100%;
height: 50px;
  }
  .no-padding{
    padding: 1px; 
  }

  .head2::before {
    position: relative;
    content: url(../images/black-line.png);
  /*  padding-right: 40px;*/
    top: -5px;
    right: 10px;
}
.head2::after {
    position: relative;
    content: url(../images/black-line.png);
  /*  padding-left: 40px;*/
    top: 5px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    display: inline-block;
    left: 10px;
}
.head2 {
    text-align: center;
    font-size: 25px;
    letter-spacing: 1px;
    padding-bottom: 30px;
    color: #ca5d00;
    font-weight: 600;
   /* padding-left: 14px;
    padding-right: 10px;*/
    word-spacing: 5px;
   /* border-bottom: 2px solid #ca5d00;*/
}


/* ==============================================================
   HEADER
   ============================================================== */
.nav-menu {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto; }

.nav-menu-2 {
  position: inherit; }

.navbar {
  padding: .5rem 0; }

.navbar-brand {
  font-size: 31px; }

.navbar-light .navbar-brand {
  color: #fff; }
  .navbar-light .navbar-brand:hover {
    color: #fff; }

.navbar-light .navbar-nav .show > .nav-link {
  color: #fff; }

.navbar-light .navbar-nav .active > .nav-link {
  color: #fff; }

.navbar-light .navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 300;
  color: #fff; }
  .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #fff;
    outline: none; }

.navbar-light .navbar-toggler {
  color: #fff;
  border-color: #fff; }

@media (max-width: 992px) {
  .navbar-nav {
    padding: 7px 20px; } }

.nav-item {
  margin: 0 20px 0 0; }
  .nav-item span {
    font-size: 10px;
    margin: 0 0 0 4px; }

.bg {
  width: 100%;
  height: 70px; }

.is-sticky {
  background: #252a33;
  opacity: 1; }

.transition {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.fixed {
  border-bottom: 1px solid #636363;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; 
  background: #000;

}
  @media (max-width: 992px) {
    .fixed {
      border: none;
      background: #252a33; } }

.dropdown-menu {
  background: #030303; }

.dropdown-item {
  color: #aaaaaa;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .dropdown-item:hover {
    color: #fff;
    background: none; }

.ti-plus {
  font-size: 14px;
  padding: 0 8px 0 0; }

.slider {
  background: url(../images/star.jpg) no-repeat;
  background-size: cover;
  min-height: 475px; }
  @media (max-width: 992px) {
    .slider {
      min-height: 700px; } }

.btn-outline-light {
  padding: 10px 16px; }
  @media (max-width: 992px) {
    .btn-outline-light {
      width: 25%; } }
  @media (max-width: 768px) {
    .btn-outline-light {
      width: 30%; } }
  @media (max-width: 576px) {
    .btn-outline-light {
      width: 40%; } }
  @media (max-width: 480px) {
    .btn-outline-light {
      width: 100%; } }
  .btn-outline-light:hover {
    color: #000; }

.slider-title_box {
  text-align: center; }

.slider-content_wrap h5 {
  color: #909090;
  font-weight: 400;
  margin: 24px 0; }

  .head  h2{
      /*font-size: 55px;*/
      color: #fff;
      margin: 30px;
      text-transform: uppercase;
      letter-spacing: 2px;
  }
.head {
   /* font-size: 40px;*/
    color: #fff;
    text-shadow: 0px 0px 8px #000;
     text-transform: uppercase;
   /* margin: 30px;*/
}

.adv {
    color: #fff;
    padding: 15px;
    float: right;
    cursor: pointer;
}
.adv i{
    color: #fff;
   /* padding: 15px;
    float: right;
    cursor: pointer;*/
}
.Wildtrippin-Services{
  background-image: url(../images/bg1.jpg);
  padding-top: 40px;
padding-bottom: 40px;
background-size: cover;
min-height: 500px;
background-attachment: fixed;

}

@media (max-width: 480px) {
  .form-wrap {
    margin: 0 !important; } }

.btn-group {
  width: 100%; }
  @media (max-width: 576px) {
    .btn-group {
      display: block; } }

.btn-group1 {
  padding: 15px;
  width: 40%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 3px;
  border: none; }
  @media (max-width: 576px) {
    .btn-group1 {
      width: 100%;
      border-radius: 0px;
      margin: 0 0 10px;
      padding: 17px; } }

.btn-group2 {
  position: relative;
  padding: 15px;
 width: 34%;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 1px solid #ccc; }


  @media (max-width: 576px) {
    .btn-group2 {
      width: 100%;
      border-radius: 3px;
      margin: 0 0 10px;
      padding: 17px; } }

.btn-form {
  font-weight:900;
  font-size: 19px;
  padding: 17px;
 /* width: 27%;*/
  background: #fff;
color: #31aaff;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }

  @media (max-width: 768px) {
    .btn-form {
      width: auto; } }
  @media (max-width: 576px) {
    .btn-form {
      width: 100%;
      border-radius: 3px; } }

.search-icon {
  background-color: #fff;
border: none;
 }

.slider-link {
  color: #909090;
  margin: 45px 0 0;
  font-size: 19px; }
  @media (max-width: 480px) {
    .slider-link {
      margin: 18px 0 0; }
      .slider-link a,
      .slider-link span {
        display: block; } }
  .slider-link a {
    color: #909090;
    text-decoration: underline;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .slider-link a:hover {
      color: #fff; }
  .slider-link span {
    padding: 0 18px; }

/* ==============================================================
   FIND PLACES
   ============================================================== */
.styled-heading {


  margin: 0 auto; 
}

@media screen and (max-width: 600px) {
  .head-main {
    font-size: 20px;
  }
  .head{
 font-size: 22px;
  }
}
.head-main{
  font-size: 30px;
  text-align: center;
}
  @media (max-width: 768px) {
    .styled-heading {
      margin: 0 0 30px; } }
  .styled-heading h3 {
    position: relative;
    padding: 0 0 23px; }
    .styled-heading h3:after {
      position: absolute;
      content: "";
      width: 60px;
      height: 3px;
      background: #ff3a6d;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
/*
.find-img-align {
  padding: 0 0 15px; }
  @media (max-width: 768px) {
    .find-img-align {
      padding: 0; } }*/

/* ==============================================================
   FEATURED PLACES
   ============================================================== */
.featured-place-wrap {
  background: #fff;
  margin: 0 0 30px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative; }
  .featured-place-wrap:hover {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-box-shadow: 0px 3px 40px 0 rgba(206, 205, 205, 0.3);
    box-shadow: 0px 3px 40px 0 rgba(206, 205, 205, 0.3); }
  .featured-place-wrap a {
    display: block;
    text-decoration: none;
    color: #000; }
  .featured-place-wrap img {
    width: 100%; }

.featured-rating,
.featured-rating-orange,
.featured-rating-green {
  position: absolute;
  right: 10px;
  width: 60px;
  height: 60px;
  text-align: center;
  margin: -33px 10px 0 0;
  font-size: 23px;
  background: #ff7474;
  color: #fff;
  padding: 14px;
  border-radius: 50%; }

.featured-rating-orange {
  background: #ffae00 !important; }

.featured-rating-green {
  background: #46cd38 !important; }

.featured-title-box {
  padding: 22px 20px; }
  @media (max-width: 480px) {
    .featured-title-box {
      padding: 22px 14px; } }
  .featured-title-box h6 {
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin-bottom: 5px; }
  .featured-title-box p {
    color: #9fa9b9;
    display: inline-block;
    margin: 0; }
    @media (max-width: 320px)
     {
      .featured-title-box p 
      {
        font-size: 13px; 
      } 
     
      .effect-ruby h3.a3{
        left:119px;
      }
      }

  @media (max-width: 600px)
     {

 .navbar-brand img{
        width:195px !important;
      }
.main-block{
  margin-top: 15%;
}
     }

    .featured-title-box p span {
      color: #ffb006;
      padding: 0; }
  .featured-title-box span {
    color: #9fa9b9;
    padding: 0 10px; }
    @media (max-width: 320px) {
      .featured-title-box span {
        padding: 0 4px; } }
  .featured-title-box ul {
    padding: 0;
    margin: 10px 0 0; }
    .featured-title-box ul li {
      list-style: none;
      color: #737882;
      line-height: 2; }
      .featured-title-box ul li span {
        padding: 7px 8px 0 0; }
        @media (max-width: 1200px) {
          .featured-title-box ul li span {
            padding: 0 4px 0 0; } }
        @media (max-width: 320px) {
          .featured-title-box ul li span {
            font-size: 12px;
            padding: 0 2px 0 0; } }
      .featured-title-box ul li p {
        margin: 0; }

.bottom-icons {
  padding: 15px 0 0;
  line-height: 1; }
  .bottom-icons span {
    float: right;
    line-height: 1;
    padding: 0 0 0 12px; }

.closed-now {
  color: #ff3a6d;
  font-size: 13px;
  display: block;
  font-weight: 400;
  display: inline-block; }

.open-now {
  color: #46cd38;
  font-size: 13px;
  display: block;
  font-weight: 400;
  display: inline-block; }

.featured-btn-wrap {
  text-align: center; }
  @media (max-width: 1200px) {
    .featured-btn-wrap {
      margin: 3px 0 0; } }
  .featured-btn-wrap .btn-danger {
    background: #ff3a6d;
    padding: 16px 50px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: 0; }
    @media (max-width: 576px) {
      .featured-btn-wrap .btn-danger {
        width: 100%; } }
    .featured-btn-wrap .btn-danger:hover, .featured-btn-wrap .btn-danger:focus {
      background: #f34e79;
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none; }

/* ==============================================================
   CATEGORIES
   ============================================================== */
@media (max-width: 992px) {
  .category-responsive {
    max-width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; } }

@media (max-width: 576px) {
  .category-responsive {
    max-width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; } }

.category-wrap:hover {
  text-decoration: none; }

.category-wrap:hover .category-block {
  background: #f34e79;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.category-wrap:hover .category-img path {
  text-decoration: none;
  fill: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.category-wrap:hover .category-block h6 {
  color: #fff;
  text-decoration: none; }

.category-block {
  margin: 0 auto;
  text-align: center;
  border: 1px solid #e5e7ef;
  padding: 30px;
  margin: 0 0 30px; }
  .category-block h6 {
    color: #3e434b;
    margin: 10px 0 0; }

.category-img {
  width: 64px;
  height: 64px; }

/* ==============================================================
   ADD LISTING
   ============================================================== */
.add-listing-wrap {
  text-align: center;
  margin: 0 0 36px; }
  .add-listing-wrap h2 {
    font-weight: 300; }
  .add-listing-wrap p {
    font-size: 22px;
    font-weight: 300;
    color: #737882; }

/* ==============================================================
   FOOTER
   ============================================================== */
footer {
  position: relative; }

.copyright {
  text-align: center; }
  .copyright p {
    font-size: 18px;
    font-weight: 400;
    color: #ccc;
    margin: 0; }
  .copyright ul {
    margin: 25px 0 0;
    padding: 0; }
    .copyright ul li {
      list-style: none;
      display: inline-block; }
      .copyright ul li a {
        color: #ccc;
        font-size: 22px;
        padding: 0 10px;
        opacity: 0.6;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .copyright ul li a:hover {
          opacity: 1;
          text-decoration: none; }

/* ==============================================================
   SUB PAGES
   ============================================================== */
/* ==============================================================
   DETAIL PAGE
   ============================================================== */
.detail-filter-wrap {
  padding: 17px 0;
  border-bottom: 1px solid #e7e7e7; }
  .detail-filter-wrap p {
    font-size: 18px;
    color: #3e434b;
    font-weight: 300;
    margin: 6px 0 0; }
    .detail-filter-wrap p span {
      font-weight: 500; }

.detail-filter {
  text-align: right; }
  @media (max-width: 992px) {
    .detail-filter {
      text-align: left; } }
  .detail-filter p {
    font-weight: 300;
    color: #3e434b;
    font-size: 14px;
    display: inline-block;
    margin: 0 10px 0 0; }

.map-responsive-wrap {
  display: none; }
  @media (max-width: 992px) {
    .map-responsive-wrap {
      display: block; } }
  .map-responsive-wrap iframe {
    width: 100%;
    height: 800px; }

.map-icon {
  display: none;
  border: 1px solid #737882;
  color: #737882;
  padding: 8px 10px 2px 10px;
  margin: -46px 0 0;
  opacity: 0.6;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .map-icon:hover {
    text-decoration: none;
    color: #737882;
    opacity: 1; }
  @media (max-width: 992px) {
    .map-icon {
      display: inline-block;
      text-align: right;
      float: right; } }
  @media (max-width: 480px) {
    .map-icon {
      float: left;
      margin: 10px 0 0; } }
  .map-icon span {
    font-size: 22px; }

.map-toggle {
  display: none; }

.filter-dropdown {
  display: inline-block; }
  .filter-dropdown select {
    border-radius: 0; }

.detail-checkbox-wrap {
  padding: 22px 0; }

.detail-options-wrap {
  padding: 15px 0; }

@media (max-width: 992px) {
  .responsive-wrap {
    max-width: 100%;
    -webkit-box-flex: 100%;
    -webkit-flex: 100%;
    -ms-flex: 100%;
    flex: 100%; } }

/* 
   BOOKING PAGE
   */
/* ==============================================================
   RESERVE A SEAT
   ============================================================== */
.reserve-block {
  padding: 30px 0; }
  .reserve-block h5 {
    color: #3e434b;
    font-weight: 400;
    display: inline-block;
    margin: 0; }
  .reserve-block p {
    display: inline-block;
    font-size: 18px;
    color: #b2b8c3;
    font-weight: 400;
    padding: 0 0 0 8px;
    margin: 0 0 8px; }
    @media (max-width: 992px) {
      .reserve-block p {
        margin: 0; } }
    .reserve-block p span {
      color: #ffb006; }

.reserve-description {
  font-size: 15px !important;
  font-weight: 400 !important;
  padding: 0 !important;
  margin: 0 !important; }

.reserve-seat-block {
  text-align: right; }
  @media (max-width: 992px) {
    .reserve-seat-block {
      margin: 15px 0 0; } }
  @media (max-width: 768px) {
    .reserve-seat-block {
      text-align: left; } }
  @media (max-width: 576px) {
    .reserve-seat-block {
      text-align: center; } }

.reserve-rating {
  font-size: 23px;
  background: #46cd38;
  padding: 10px 14px;
  color: #fff;
  border-radius: 3px;
  display: inline-block;
  vertical-align: top; }

.review-btn {
  display: inline-block;
  text-align: center;
  margin: 3px 14px 0 14px; }
  @media (max-width: 1200px) {
    .review-btn {
      margin: 3px 4px 0 4px; } }
  @media (max-width: 576px) {
    .review-btn {
      margin: 3px 0px 0 0px; } }
  .review-btn span {
    display: block;
    color: #8a8e96;
    font-size: 13px;
    margin-top: 3px; }
  .review-btn .btn-outline-danger {
    color: #ff3a6d;
    border-color: #ff3a6d; }
    .review-btn .btn-outline-danger:hover {
      color: #fff;
      background: #ff3a6d; }

.reserve-btn {
  display: inline-block;
  vertical-align: top; }
  @media (max-width: 768px) {
    .reserve-btn {
      margin: -7px 0 0; } }
  @media (max-width: 576px) {
    .reserve-btn {
      margin: 0 0 0;
      width: 100%; } }

.custom-checkbox {
  color: #737882;
  font-size: 14px;
  line-height: 1.8;
  margin-right: 0; }
  .custom-checkbox span {
    padding: 0 10px 0 0; }

/* ==============================================================
   BOOKING DETAILS
   ============================================================== */
.booking-details_wrap {
  padding: 26px 0; }

.booking-checkbox_wrap {
  background: #fff;
  padding: 30px; }
  .booking-checkbox_wrap h5 {
    color: #3e434b;
    text-align: center;
    font-weight: 400; }

.booking-checkbox {
  color: #737882;
  font-size: 15px; }
  .booking-checkbox p {
    line-height: 1.8; }

.customer-review_wrap {
  display: inline-block;
  width: 100%; }

.customer-img {
  float: left; }
  @media (max-width: 992px) {
    .customer-img {
      text-align: center;
      float: none;
      margin: 0 0 15px; } }
  .customer-img img {
    border-radius: 50%; }
  .customer-img p {
    color: #3e434b;
    margin: 4px 0 0;
    text-align: center;
    font-size: 18px;
    line-height: 1.2; }
  .customer-img span {
    font-size: 14px;
    color: #737882;
    text-align: center; }

.customer-content-wrap {
  margin: 0 0 0 135px; }
  @media (max-width: 992px) {
    .customer-content-wrap {
      margin: 0 0 0 110px; } }
  @media (max-width: 992px) {
    .customer-content-wrap {
      margin: 0px; } }
  .customer-content-wrap ul {
    margin: 24px 0 0;
    padding: 0; }
    .customer-content-wrap ul li {
      list-style: none;
      display: inline-block;
      margin: 0 10px 0 0; }
      @media (max-width: 480px) {
        .customer-content-wrap ul li {
          margin: 0 0 10px 0; } }
  .customer-content-wrap span {
    color: #737882;
    display: inline-block;
    margin: 26px 0 0; }
  .customer-content-wrap a {
    border: 1px solid #ccc;
    color: #737882;
    font-size: 14px;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 0 0 0 10px; }
    .customer-content-wrap a:hover {
      text-decoration: none; }
    .customer-content-wrap a span {
      margin: 0 6px 0 0; }

.customer-text {
  color: #737882;
  margin: 15px 0 0;
  line-height: 1.6; }

.customer-content h6 {
  color: #3e434b; }

.customer-content p {
  color: #737882;
  display: inline-block;
  vertical-align: top;
  line-height: 0.8;
  margin: 0 0 0 8px; }

.customer-review {
  display: inline-block; }
  @media (max-width: 576px) {
    .customer-review {
      display: block; } }
  .customer-review span {
    width: 10px;
    height: 10px;
    background: #46cd38;
    border-radius: 50%;
    display: block;
    float: left;
    margin: 0 5px 0 0; }

.round-icon-blank {
  background: #d9dce7 !important; }

.round-icon-red {
  background: #ff5a5a !important; }

.round-icon-orange {
  background: #ffbb27 !important; }

.customer-rating {
  background: #46cd38;
  padding: 8px 14px;
  float: right;
  font-size: 18px;
  color: #fff;
  border-radius: 3px; }
  @media (max-width: 576px) {
    .customer-rating {
      float: none;
      display: inline-block; } }

.customer-rating-red {
  background: #ff5a5a !important; }

.customer-description {
  margin: 0 0 0 50px; }

.contact-info {
  background: #fff;
  padding: 0 0 6px;
  margin: 0 0 15px; }
  .contact-info img {
    width: 100%; }
  .contact-info label {
    color: #46cd38;
    font-size: 14px;
    padding: 0 0 0 50px; }
    @media (max-width: 992px) {
      .contact-info label {
        display: block; } }

.address {
  color: #737882;
  padding: 18px 0 0 16px; }
  .address > span {
    font-size: 18px;
    float: left;
    margin: 4px 0 0; }
  .address p {
    margin: 0 0 0 34px; }
  .address .featured-open {
    font-size: 13px;
    padding: 0 0 0 34px; }

.btn-contact {
  display: block;
  padding: 16px;
  margin: 12px 16px;
  border: 2px solid #ff3a6d;
  color: #ff3a6d;
  font-weight: 400; }
  .btn-contact:hover {
    background: #ff3a6d;
    border: 2px solid #ff3a6d; }

.follow {
  background: #fff; }
  .follow ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center; }
    .follow ul li {
      list-style: none;
      padding: 13px 0;
      width: 33%; }
      @media (max-width: 1200px) {
        .follow ul li {
          padding: 12px 18px; } }
      .follow ul li:first-child, .follow ul li:nth-child(2) {
        border-right: 1px solid #ededed; }
      .follow ul li h6 {
        margin: 0; }
  .follow a {
    color: #ff3a6d;
    text-align: center;
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding: 14px 0; }

.follow-img {
  text-align: center;
  padding: 20px 16px;
  color: #3e434b; }
  .follow-img img {
    border-radius: 50%; }
  .follow-img h6 {
    margin: 11px 0 0; }

.social-counts span {
  font-size: 14px;
  color: #737882; }

.map-wrap {
  padding: 0; }

.map-fix {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 41.7%; }
  @media (max-width: 992px) {
    .map-fix {
      display: none;
      top: 17%;
      left: 0;
      width: 100%; } }
  @media (max-width: 480px) {
    .map-fix {
      top: 24%; } }
  @media (max-width: 365px) {
    .map-fix {
      top: 29.3%; } }

#map {
  height: 100%;
  width: 100%; }

  .card .overlay {
    opacity: 1;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #00000099;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.card-block {
    padding: 0;
    cursor: pointer;
}
.card img {
    height: 250px;
    object-fit: cover;
    padding: 5px;
    background: #fff;
}

.card {
    position: relative;
    display: block;
    margin-bottom: 0.75rem;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.head5 {
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    padding-bottom: 8px;
    color: #fff;
    font-weight: 600;
    border-bottom: 1px solid;
}
/*.caro-next{
  left: -67px;
}
 .caro-next2{
  right: -61px;
 }
*/
.btn1 {
    width: 60%;
    background: #ffffff;
    border: none;
    padding: 10px;
    position: absolute;
    z-index: 999;
    left: 60px;
    bottom: -18px;
    box-shadow: 0px 1px 11px #9f9c9c;
}
.main4 h6 {
    position: absolute;
    width: 97%;
    left: 6px;
    bottom: 120px;
    padding: 15px;
    text-align: center;
    color: #fff;
    background: #000000bf;
}
.hover09 figure:hover img {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    padding: 15px;
}
.main4 img {
    height: 370px;
    object-fit: cover;
    padding: 5px;
    background: #fff;
}

 .main4 p {
    font-size: 13px;
    text-align: center;
    line-height: 24px;
    border: 1px solid #cccccc91;
    padding: 36px;
}
.main4 h6 a {
    color: #ff8d00;
    font-size: 18px;
    letter-spacing: 1px;
}
.btn1 a {
    color: #FF4500;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 18px;
    font-style: italic;
}
.head3 {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    letter-spacing: 1px;
    padding-bottom: 15px;
    color: #ff9841;
    border-bottom: 1px solid #cccccc9e;
}
element {
}
.walk-around-data li > a {
    font-size: 15px;
    color: #fff;
    line-height: 32px;
    height: 300px;
    transition: all .3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in-out;
    background-position: 20px;
}
.address-data p {
    font-size: 15px;
    color: #fff;
    line-height: 32px;
    padding-left: 35px;
    margin: 0;
    line-height: 31px;
}

.caption-style-4 {
    list-style-type: none;
    margin: 0px;
   /* padding: 0px;*/
}
.hover11 figure img {
    -webkit-filter: grayscale(0) blur(0);
    filter: grayscale(0) blur(0);
  
}
.hover11 figure:hover img {
-webkit-filter: grayscale(100%) blur(3px);
    filter: grayscale(100%) blur(3px);
 
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.wild-index {
    color: #fff;
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 10px;
    box-shadow: 0px 7px 22px #00000094;
    text-transform: uppercase;
}


.main5 img {
    height: 250px;
    width: 100%;
    padding: 2px;
    background: #fff;
    object-fit: cover;
}
.caption-style-4 img {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-filter: grayscale(0) blur(0);
    filter: grayscale(0) blur(0);
}
.caption-style-4 li:hover img {
    opacity: 1;
    transform: scale(1.15,1.15);
    -webkit-transform: scale(1.15,1.15);
    -moz-transform: scale(1.15,1.15);
    -ms-transform: scale(1.15,1.15);
    -o-transform: scale(1.15,1.15);
    -webkit-filter: grayscale(100%) blur(3px);
    filter: grayscale(100%) blur(3px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.caption-style-4 img {
    margin: 0px;
    padding: 0px;
    float: left;
    /*z-index: 4;*/
    object-fit: cover;
}
.caption-style-4 li {
  /*  float: left;*/
    padding: 0px;
    position: relative;
    overflow: hidden;
}

.caption-style-4 .caption {
    cursor: pointer;
    position: absolute;
    width: 100%;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.caption-style-4 .blur {
    background-color: rgba(0, 0, 0, 0.32);
    height: 250px;
    width: 100%;
/*    z-index: 5;
*/    position: absolute;
}
.caption-style-4 .caption-text {
   /* z-index: 10;*/
    color: #fff !important;
    position: absolute;
    width: 100%;
    height: 250px;
    text-align: center;
    top: 85px;
}
.caption-style-4 .caption {
    cursor: pointer;
}
.caption-style-4  {
    list-style-type: none !important;
}
.caption-style-4 .caption-text h1 {
    text-transform: uppercase;
    font-size: 24px;
}
.caption-style-4 .caption-text {
    color: #fff;
    text-align: center;
}
.main5 {
    padding-top: 50px;
    padding-bottom: 100px;
    background: url(../images/bg2.jpg) bottom no-repeat;
}
.design-by span {
    font-size: 15px;
    color: #fff;
    line-height: 32px;
    font-family: sans-serif;
    opacity: .7;
    padding: 18px;
}
/*.copyright {
    float: left;
    width: 40%;
}*/
.design {
    float: right;
     margin-top: -27px;
}
.design a {
    color: #fff;

}
.data12 {
    float: left;
    width: 40%;
    margin-top: -27px;
}



.gallery-title
{
    font-size: 36px;
    color: #000;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #ddd;
}
.filter-button
{
    width: auto;
height: auto;
text-decoration: none;
color: #333;
font-size: 15px;
padding: 5px 5px;
border-radius: 50px;
border: 1px solid #ddd;

}
.filter-button:hover
{
 width: auto;
height: auto;
text-decoration: none;
color: #333;
font-size: 15px;
padding: 3px 5px;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
background: #cfcfcf;

}

.text-flex li{
  list-style-type: none;
}
.mt{
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.mt{
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}
.locate-c{
  background: #332f2a;
color: #fff;
text-align: center;

}
.cuadro_intro_hover{
        padding: 0px;
        position: relative;
        overflow: hidden;
       height: 266px;
    }
    .cuadro_intro_hover:hover .caption{
        opacity: 1;
        transform: translateY(-150px);
        -webkit-transform:translateY(-150px);
        -moz-transform:translateY(-150px);
        -ms-transform:translateY(-150px);
        -o-transform:translateY(-150px);
    }
    .cuadro_intro_hover img{
        /*z-index: 4;*/
     height: 270px;
        width: 100%;
        object-fit: cover;
    }
    .cuadro_intro_hover .caption{
        position: absolute;
       top: 205px;
        -webkit-transition:all 0.3s ease-in-out;
        -moz-transition:all 0.3s ease-in-out;
        -o-transition:all 0.3s ease-in-out;
        -ms-transition:all 0.3s ease-in-out;
        transition:all 0.5s ease-in-out;
        width: 100%;
    }
    .p{
        margin-top: 20px !important;
    }
    .cuadro_intro_hover .blur{
        background-color: rgba(0,0,0,0.7);
        height: 211px;
     /*   z-index: 5;*/
        position: absolute;
        width: 100%;
    }
    .cuadro_intro_hover .caption-text{
       /* z-index: 10;*/
        color: #fff;
        position: absolute;
        height: 300px;
        text-align: center;
        top:-20px;
        width: 100%;
    }
    .button-book{
        background-color: #D19000;
        color: #fff;
        border-radius: 50px;
        font-weight: 700;
    }
    .span-disc{
        font-size: 13px;
        color:#D19000;
        font-weight: 700;
        padding-right: 10px;
    }
.data-text{
  text-align: center;
  display: block;
  margin-top: 0 auto;
  padding-top: 10px;
}


/*details page css*/
.breadcrumb-item a {
    font-size: 12px;
}

.my-3 {
    color: #a74500;
    font-size: 23px;
   
    margin-bottom: 3rem !important;
    margin-top: 3rem !important;
}
.b-r {
    border-right: 1px solid #ccc;
}
.btn-outline-secondary {
    color: #000;
    background-image: none;
    background-color: transparent!important;
    border-color: none!important;

}
.my-4 {
    color: #000000;
    font-size: 20px;
}
.tiny ul {
    text-align: left;
    margin-left: -45px;
}
.tiny ul li::before {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border: 1px solid #b18857;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    left: 16px;
    top: 8px;
}
.tiny ul li {
    list-style: none;
    position: relative;
    padding-left: 35px;
    line-height: 200%;
    font-size: 13px;
    letter-spacing: 0.7px;
}

.final {
    font-size: 30px;
    font-weight: bold;
    color: #a74500;
}

.wild-price-info {
    margin-top: 15px;
    font-family: sans-serif;
}

.per_person_new {
    padding-left: 3px;
    font-size: 15px !important;
    line-height: 17px !important;
}
.dis {
    font-size: 20px;
    text-decoration: line-through;
    color: rgba(59,68,78,0.5);
    padding-top: 10px;
}
.book {
    background: #f16f30;
    width: 100%;
    display: block;
    max-width: 100%;
    color: #fff;
   /* font-size: 20px;*/
   font-weight: 700;
    text-align: center;
    border: 0;
    text-transform: capitalize;
    height: 50px;
    line-height: 50px;
    border-radius: 0;
    padding: 0;
    position: relative;
    margin: 0px;
}
.b13{
   background: #686868;;
    color: #fff;
     font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    height: 50px;
     border-radius: 0;
    
       padding: 15px;
}
.b12{
   background: #f16f30;
    color: #fff;
     font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    height: 50px;
     border-radius: 0;
      width: 100%;
      padding: 0;
/*      word-spacing: 5px;
*/      display: block;
}
.pack ul li {
    text-align: center;
    font-size: 10px;
    line-height: 25px;
    letter-spacing: 0.7px;
    padding: 5px;
    display: inline-block;
}

.activity-details i {
    font-size: 25px;
}
.Includes-details p {
  /*  padding: 10px;*/
    color: #333;
}
.w1 {
    font-size: 16px;
    line-height: 15px;
    color: #3e3e3e !important;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

#accordion-tripping .panel {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #fff;
  background: none;
  box-shadow: none;
}

#accordion-tripping .panel:last-child {
  border-bottom: none;
}

#accordion-tripping .panel-group > .panel:first-child .panel-heading {
  border-radius: 4px 4px 0 0;
}

#accordion-tripping .panel-group .panel {
  border-radius: 0;
}

#accordion-tripping .panel-group .panel + .panel {
  margin-top: 0;
}

#accordion-tripping .panel-heading {
  background-color: #fff;
  border-radius: 0;
  border: 1px solid #989898;;
  color: #333;
 /* padding: 10px;*/
 height: 50px;
 text-transform: capitalize;
 font-size: 18px;
 background: #F3F3F3;
}

#accordion-tripping .panel-title a {
  display: block;
  color: #C4551F;
  padding: 10px;
  position: relative;
  font-size: 18px !important;
  font-weight: 700;
  text-align: left;

}

#accordion-tripping .panel-body {
  background: #fff;
}

#accordion-tripping .panel:last-child .panel-body {
  border-radius: 0 0 4px 4px;
}

#accordion-tripping .panel:last-child .panel-heading {
  border-radius: 0 0 4px 4px;
  transition: border-radius 0.3s linear 0.2s;
}

#accordion-tripping .panel:last-child .panel-heading.active {
  border-radius: 0;
  transition: border-radius linear 0s;
}
/* #bs-collapse icon scale option */

#accordion-tripping .panel-heading a:before {
  content: '\e146';
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  font-size: 24px;
  transition: all 0.5s;
  transform: scale(1);
}

#accordion-tripping .panel-heading.active a:before {
  content: ' ';
  transition: all 0.5s;
  transform: scale(0);
}

#bs-collapse .panel-heading a:after {
  content: ' ';
  font-size: 24px;
  position: absolute;
  font-family: 'FontAwesome';
  right: 5px;
  top: 10px;
  transform: scale(0);
  transition: all 0.5s;
}

#bs-collapse .panel-heading.active a:after {
  content: '\f107';
  transform: scale(1);
  transition: all 0.5s;
}
/* #accordion rotate icon option */

#accordion-tripping .panel-heading a:before {
  content: '\f106';
  font-size: 24px;
  position: absolute;
  font-family: 'FontAwesome';
  right: 5px;
  top: 10px;
  transform: rotate(180deg);
  transition: all 0.5s;
}

#accordion-tripping .panel-heading.active a:before {
  transform: rotate(0deg);
  transition: all 0.5s;
}
.md-dialog{
    max-width: 555px !important;
    margin: 30px auto;
}
.bt12{
    background-color: #ddd;
height: 40px;
margin-top: 10px;

}
.text-board li {
    display: inline-block;
}

.review-part-left img {
    height: 95px;
    width: 95px;
    border-radius: 50%;}
.b-r {
    border-right: 1px solid #ccc;
}
.re {
    text-align: center;
    padding-top: 2px; 
    height: 100px;
}
.review-part-left p {
    margin: 0px;
    font-size: 14px;
    color: #B3B5B4;
}
.one1 p {
    font-size: 15px;
}

.one1 {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}
.
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
element {
    font-weight: bold;
    color: #000000;
    background: #e7e7e7;
}
.btn:focus, .btn:hover {
    text-decoration: none;
}
.btn-expand {
    border: 1px solid #ccc;
    font-size: 13px;
    font-family: sans-serif;
    padding: 10px;
    color: #000;
    letter-spacing: 0px;
    margin-top: 10px;
    background: #db8e0000;
    cursor: pointer;
    border-radius: 25px;
}
.modal-title {
    margin: 0;
    line-height: 1.5;
    color: #cf7c00;
    font-size: 25px;
}
.form-control1 {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 15px;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: none;
        border-bottom-width: medium;
        border-bottom-style: none;
        border-bottom-color: currentcolor;
    outline: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-bottom: 1px solid #ccc;
    border-radius: none;
}
.main-left-edit .img4 {
    height: 240px;
    max-height: 240px;
    width: 240px;
    object-fit: cover;
    border-radius: 55%;
}
.dark2 {
    font-size: 15px;
    margin-top: 10px;
}
.main-left-edit{
  float: right;
margin-top: -287px;

}
    /*jssor slider loading skin spin css*/

                            .jssorl-009-spin img {
                                animation-name: jssorl-009-spin;
                                animation-duration: 1.6s;
                                animation-iteration-count: infinite;
                                animation-timing-function: linear;
                            }

                            @keyframes jssorl-009-spin {
                                from { transform: rotate(0deg); }
                                to { transform: rotate(360deg); }
                            }

                            /*jssor slider arrow skin 106 css*/
                            .jssora106 {display:block;position:absolute;cursor:pointer;}
                            .jssora106 .c {fill:#fff;opacity:.3;}
                            .jssora106 .a {fill:none;stroke:#000;stroke-width:350;stroke-miterlimit:10;}
                            .jssora106:hover .c {opacity:.5;}
                            .jssora106:hover .a {opacity:.8;}
                            .jssora106.jssora106dn .c {opacity:.2;}
                            .jssora106.jssora106dn .a {opacity:1;}
                            .jssora106.jssora106ds {opacity:.3;pointer-events:none;}

                            /*jssor slider thumbnail skin 101 css*/
                            .jssort101 .p {position: absolute;top:0;left:0;box-sizing:border-box;background:#000;}
                            .jssort101 .p .cv {position:relative;top:0;left:0;width:100%;height:100%;border:2px solid #000;box-sizing:border-box;z-index:1;}
                            .jssort101 .a {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;visibility:hidden;}
                            .jssort101 .p:hover .cv, .jssort101 .p.pdn .cv {border:none;border-color:transparent;}
                            .jssort101 .p:hover{padding:2px;}
                            .jssort101 .p:hover .cv {background-color:rgba(0,0,0,6);opacity:.35;}
                            .jssort101 .p:hover.pdn{padding:0;}
                            .jssort101 .p:hover.pdn .cv {border:2px solid #fff;background:none;opacity:.35;}
                            .jssort101 .pav .cv {border-color:#fff;opacity:.35;}
                            .jssort101 .pav .a, .jssort101 .p:hover .a {visibility:visible;}
                            .jssort101 .t {position:absolute;top:0;left:0;width:100%;height:100%;border:none;opacity:.6;}
                            .jssort101 .pav .t, .jssort101 .p:hover .t{opacity:1;}
/*# sourceMappingURL=style.css.map */

.heading-block{

  position: absolute;
  top: 30%;
 
}
.heading-block h1{
  
  text-transform: uppercase;
  
}
.search1{
  position: absolute;
  top: 20px;
  right: 10px;
}

@media screen and (max-width:480px){
  .caption h3{
    font-size: 12px;
  }
}
  .section-box-eleven{
        height: 250px;
        background: radial-gradient(#6e6e6e,#2f2f2f);
        background: -webkit-radial-gradient(#6e6e6e,#2f2f2f);
        background: -moz-radial-gradient(#6e6e6e,#2f2f2f);
        color: #fff;
        position: relative;
        overflow:hidden;
       /* padding-left: 5px;
        padding-right: 5px;*/
    }
    .section-box-eleven figure {
        position: absolute;
        padding: 10px 15px;
        width: 100%;
        bottom: -25%;
        transition: ease-in-out .4s;
        background: rgba(0, 0, 0, 0.71);
        border-top: 1px solid #fff;
    }
    .section-box-eleven:hover figure {
        bottom: -37px;
    }
    .section-box-eleven img{
        height: 100%;

    }
    .section-box-eleven h5{
      font-size: 20px;
      text-align: center;

    }
     .section-box-eleven p{
      font-size: 14px;
      
    } 
    .exapnd-data{
      
      color:#F16F30;
    }